input[type=submit]{
   background-color:silver;
   padding:8px;
   cursor:pointer;
   border:none;
   margin:5px;
   color:white;
   width: 50%;
   font-family: Trebuchet Ms;
   font-size:20px;
   transition: width 2s, height 2s, transform 2s;
} 
 input[type=submit]:hover{
background: red;
border-radius: 18px;
 width: 45%;
 
    
}